<div class="container">
  <div>
    <img src="{{ comment.user.image.png }}" alt="" />
    <button
      class="delete"
      *ngIf="comment.user.username === currentUser.username"
      (click)="deleteComment()"
    >
      delete
    </button>
    <button
      class="edit"
      *ngIf="comment.user.username === currentUser.username"
      (click)="editComment()"
    >
      Edit
    </button>
  </div>
  <div *ngIf="!editing">
    {{ comment.content }}
  </div>

  <div *ngIf="editing">
    <input [(ngModel)]="comment.content" type="text" />
    <button (click)="editComment()">Update</button>
  </div>
  <div>
    {{ comment.id }}
  </div>
</div>

<div *ngFor="let reply of comment.replies">
  <app-reply [reply]="reply"></app-reply>
</div>
