.container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 1rem;
  width: 60%;
  height: 6rem;
  border: none;
  background-color: white;
  border-radius: 10px;
}

.delete {
  border: none;
  background-color: white;
  color: red;
}

.edit {
  border: none;
  background-color: white;
  color: rgb(76, 70, 161);
}




