<div class="container">
  <button class="upvote" (click)="upvote()">+</button>
  <button class="downvote" (click)="downvote()">-</button>
  <div>{{ comment.score }}</div>
  <img src="{{ comment.user.image.png }}" alt="" />
  <div>
    <button
      class="delete"
      *ngIf="comment.user.username === currentUser.username"
      (click)="showConfirmDialog = true"
    >
      Delete
    </button>

    <div *ngIf="showConfirmDialog" class="overlay">
      <div class="popup">
        <div class="popup-content">
          Are you sure you want to delete this comment?
        </div>
        <div class="popup-buttons">
          <button class="cancel" (click)="showConfirmDialog = false">
            Cancel
          </button>
          <button class="confirm" (click)="deleteComment()">Confirm</button>
        </div>
      </div>
    </div>
    <div class="overlay" *ngIf="showConfirmDialog">
      <div class="confirmation-popup">
        <div class="confirmation-message">
          Are you sure you want to delete this comment?
        </div>
        <div class="confirmation-buttons">
          <button class="confirmation-button" (click)="deleteComment()">
            Yes
          </button>
          <button class="confirmation-button" (click)="hideConfirmDialog()">
            No
          </button>
        </div>
      </div>
    </div>

    <button
      class="edit"
      *ngIf="comment.user.username === currentUser.username"
      (click)="editComment()"
    >
      Edit
    </button>
  </div>
  <div *ngIf="!editing">
    {{ comment.content }}
    <button class="reply" (click)="replyToComment()">Reply</button>
  </div>

  <div *ngIf="editing">
    <input [(ngModel)]="comment.content" type="text" />
    <button (click)="editComment()">update</button>
  </div>
  <div>
    {{ comment.id }}
  </div>
</div>

<div *ngFor="let reply of comment.replies">
  <app-reply [reply]="reply"></app-reply>
</div>
