.form {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 60%;
    height: 5rem;
    background-color: white;
    border-radius: 10px;
    border: none;
    margin: 1rem;


    
    .enter-comment-main{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
    }

    .enter-comment{
        border: none;
        width: 24rem;
    }
 
    .send{

        border: none;
        border-radius: 5px;
        width: 5rem;
        height: 2rem;
        background-color: rgb(76, 70, 161);
    }
}